annotated-types==0.7.0
anyio==4.11.0
apscheduler==3.11.0
bzip2==1.0.8
ca-certificates==2025.10.5
certifi==2025.10.5
cffi==2.0.0
click==8.3.0
colorama==0.4.6
cryptography==46.0.2
dmpython==2.5.22
dnspython==2.8.0
email-validator==2.3.0
exceptiongroup==1.3.0
expat==2.7.1
fastapi==0.119.0
fastapi-cli==0.0.13
fastapi-core==0.119.0
greenlet==3.2.4
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
jinja2==3.1.6
libffi==3.4.4
libzlib==1.3.1
markdown-it-py==4.0.0
markupsafe==3.0.3
mdurl==0.1.2
openssl==3.5.4
pip==25.2
pycparser==2.22
pydantic==2.12.1
pydantic-core==2.41.3
pygments==2.19.2
python==3.10.18
python-dotenv==1.1.1
python-multipart==0.0.20
python-tzdata==2025.2
pyyaml==6.0.3
redis==3.5.3
rich==14.2.0
rich-toolkit==0.15.1
setuptools==80.9.0
shellingham==1.5.4
sniffio==1.3.1
sqlalchemy==2.0.44
sqlite==3.50.2
starlette==0.48.0
tk==8.6.15
typer==0.19.2
typer-slim==0.19.2
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025b
tzlocal==5.3.1
uvicorn==0.37.0
watchfiles==1.1.0
websockets==15.0.1
wheel==0.45.1
xz==5.6.4
yaml==0.2.5
zlib==1.3.1